.boxContainer {
  padding-top: 50px;
  background-image:url("../../assets/images/krispykreme.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid black;
  height:30%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
