.boxContainer {
  background-image:url("../../assets/images/krispykreme.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 4px solid #0b6a38;
  border-radius: 7px;
  height:31em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: none;
}
h3{
  height: 30px;
  text-align: center;
}
/* Media queries */
@media (max-width: 830px) {
  .boxContainer {
      height:21em;
  }
}
@media (max-width: 765px) {
  .boxContainer {
      height:25em;
  }
}
@media (max-width: 665px) {
  .boxContainer {
      height:19em;
  }
}
@media (max-width: 465px) {
  .boxContainer {
      height:15em;
  }
}