.img-container{
  position: relative;
  cursor:pointer;
  width:20%;
  height:0;
  line-height:0;
  margin:.5%;
  padding:8% 0;
  border-radius:50%;
}
.order{
  width:120%;
  height:120%;
  position:absolute;
  top: 0;
  left: 0;
}

.card > .img-container {
  overflow: hidden;
}

.card > .img-container > img {
  width: 100%
}


