.img-container{
  position: relative;
  cursor:pointer;
  width:20%;
  height:0;
  line-height:0;
  margin:.5%;
  padding:8% 0;
  border-radius:50%;
  /* border:2px solid red; */
}
.order{
  width:120%;
  height:120%;
  position:absolute;
  top: 0;
  left: 0;
}

.card > .img-container {
  /* height: 60%; */
  overflow: hidden;
}

.card > .img-container > img {
  width: 100%
}

/* .card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
} */

/* .card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}  */
