#list-box {
    border: 4px solid #0b6a38;
    border-radius: 7px;
    height: 228px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    overflow: scroll;
   
}
#list-box::-webkit-scrollbar { 
    display: none; 
}
